@import url('https://fonts.googleapis.com/css2?family= Montserrat :ital,wght@1,900 & display=swap');


:root {

    --cor-primaria: #be20c4;
    --cor-secundaria: #c8c1c1;
    --cor-primaria: #000000;

}

* {
    margin: 0;
    padding: 0;
}

body {   
    
    
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.cabesalho {

    padding: 2% 0% 0% 15%;

}

.cabesalho__menu {

display: flex;
gap: 80px;

}

.cabecalho__menu__link {

    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #009000;
    text-decoration: none;
}


.cabecalho__menu__link:hover {

    color: rgb(9, 252, 29);
     
}

.Titulo-estilo {

    color: #009000;
}

.aprecentacao {
    padding:  8% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: -38px;
}

.aprecetacao__conteudo {

    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: -60px;

}

.aprecetacao_conteudo_titulo {

    font-size: 2.25rem;
    
    
}

.aprecetacao_conteudo_texto {

    font-size: 20px;
    
}

.estilo__botoes {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.apresentcao_links_subtitulo {

    font-family: 'Krona one', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}



.aprecentacao__botao {
    
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    transition:  background-color 0.5s;
    transition: transform 0.3s;
    font-family: 'Montserrat', sans-serif;
      
    
  
    }

    .aprecentacao__icone {
    
        display: flex;
        justify-content: center;
        gap: 16px;
        border: 2px solid #22D4FD;
        width: 378px;
        text-align: center;
        border-radius: 8px;
        font-size: 1.5rem;
        font-weight: 900;
        padding: 21.5px 0;
        text-decoration: none;
        color: #F6F6F6;
        transition: background-color 0.5s;
        transition: transform 0.3s;
        font-family: 'Montserrat', sans-serif;
          
        }
    

    .aprecentacao__botao.botao:hover{

        background-color:#F6F6F6
        
    
    }

    .aprecentacao__botao:hover{
       
       
        background: linear-gradient(135deg, #833AB4,#C13584 ,#f56040 , #f77737);
        
        
        
    }

     
  .aprecentacao__botao:hover img {

        filter: brightness(0) invert(1);
       
    }

    .aprecentacao__botao:hover {

        transform: scale(1.1);
        transition: 1s;
}


.aprecentacao__icone.icone:hover{

        background-color:#F6F6F6
    
    }

    .aprecentacao__icone:hover{
       
        background-color: #5C6BC0;
    }


.aprecentacao__icone:hover img {

        filter: brightness(0) invert(1);
       
    }

    
    .aprecentacao__icone:hover {

        transform: scale(1.1);
        transition: 1s;
}

  
.foto {
    
    width: 435px;
    height: 435px;
    margin-top: -40px;

    
}

.botao{

    height: 40px;
    width: 40px;
    
}

.rodape{

    padding: 24px;
    color: #000000;
    background-color: #22D4FD;
    text-align:center;
    font-family: 'Montserrat' , sans-serif;
    font-size: 1.5rem;
    font-weight: 400;


}



@media screen and (max-width: 720px)  {

 
    .geovane {
        
        
        display: block;
        margin: 0 auto;
        text-align: center;
        
    }
    
    .foto {
        position: absolute;
        top: 500px;  /*Ajuste esse valor conforme necessário*/ 
        left: 50%;  /*Ajuste esse valor conforme necessário*/ 
        transform: translateX(-50%);
        
        
    }
    
    .estilo__botoes {
        margin-top: 700px; /* Adicione uma margem superior para criar espaçamento*/ 
    }

    .aprecentacao {

        padding:  20% 10%;
    }

    .estilo__botoes {

        margin-top: 615px;
    }
  
      }



      @media screen and (max-width: 486px) {

 
        .geovane {
            
            
            display: block;
            margin: 0 auto;
            text-align: center;
            
        }
      
        
        .estilo__botoes {
            margin-top: 700px; /* Adicione uma margem superior para criar espaçamento*/ 
        }
    
        .aprecentacao {
    
            padding:  20% 5%;
        }

        .aprecentacao__icone {

           width: 325px;
           margin: 15px;
            
        }

        .aprecentacao__botao {

            width: 325px;
            margin: 15px;
        }
      
        .foto {
            position: absolute;
            top: 500px;  /*Ajuste esse valor conforme necessário*/ 
            left: 50%;  /*Ajuste esse valor conforme necessário*/ 
            transform: translateX(-50%);
            width: 350px;
            height: 350px;
            
        }

          }
    

          @media screen and (max-width: 588px) {

 
            .geovane {
                
                
                display: block;
                margin: 0 auto;
                text-align: center;
                
            }
            
            .foto {
                position: absolute;
                top: 500px;  /*Ajuste esse valor conforme necessário*/ 
                left: 50%;  /*Ajuste esse valor conforme necessário*/ 
                transform: translateX(-50%);
                width: 390px;
                height: 390px;
                
            }
            
            .estilo__botoes {
                margin-top: 700px; /* Adicione uma margem superior para criar espaçamento*/ 
            }
        
            .aprecentacao {
        
                padding:  20% 5%;
            }
    
            .aprecentacao__icone {
    
               width: 378px;
               margin: 15px;
                
            }
    
            .aprecentacao__botao {
    
                width: 378px;
                margin: 15px;
            }

            .estilo__botoes {

                margin-top: 578px;
            }
         
              }
        
    
              